In [ ]:
#Descomprimir la data
import os, zipfile
os.makedirs("../files/input", exist_ok=True); zipfile.ZipFile("../files/input.zip").extractall("../files")

In [33]:
from pathlib import Path
import pandas as pd

def load_split(split: str) -> pd.DataFrame:
    rows = []
    for label in ("negative", "neutral", "positive"):
        # aquí pongo la ruta exacta en lugar de BASE_DIR
        for path in Path("../files/input", split, label).glob("*.txt"):
            with path.open("r", encoding="utf-8", errors="ignore") as f:
                for line in f:
                    line = line.strip()
                    if line:
                        rows.append((line, label))
    return pd.DataFrame(rows, columns=["phrase", "target"])

In [34]:
# Crear los DataFrames directamente
train_dataset = load_split("train")
test_dataset = load_split("test")

In [35]:
print(train_dataset.shape)
train_dataset.head()

(1811, 2)

                                              phrase    target
0  The real estate company posted a net loss of +...  negative
1  The EU Commission said earlier it had fined Th...  negative
2  Cargo traffic fell 1 % year-on-year to 8,561 t...  negative
3  Finnish media group Talentum has issued a prof...  negative
4  Net profit fell by almost half to +ï¿½ 5.5 mil...  negative

In [37]:
print(test_dataset.shape)
test_dataset.head()

(453, 2)

                                              phrase    target
0  Jan. 6 -- Ford is struggling in the face of sl...  negative
1  ( ADPnews ) - Feb 3 , 2010 - Finland-based ste...  negative
2  In Q2 of 2009 , profit before taxes amounted t...  negative
3  ADPnews - Jul 17 , 2009 - Finland-based steel ...  negative
4  Salonen added that data shows producers ' pulp...  negative

In [38]:
counts = test_dataset["target"].value_counts()
print(counts)

target
neutral     274
positive    112
negative     67
Name: count, dtype: int64

In [39]:
counts = train_dataset["target"].value_counts()
print(counts)

target
neutral     1117
positive     458
negative     236
Name: count, dtype: int64

In [40]:
# Escritura de la tabla en el disco
import os

if not os.path.exists("../files/output/"):
    os.makedirs("../files/output/")

train_dataset.to_csv("../files/output/train_dataset.csv",sep=",",header=True,)
test_dataset.to_csv("../files/output/test_dataset.csv",sep= ",", header=True,)